<div class="max-w-[1046px] flex mx-auto items-start text-xs text-white font-body-bold-title justify-around">
  <div
    class="rounded-xl bg-white shadow-[0px_17px_40px_rgba(228,_212,_212,_0.25)] flex flex-col pt-0 px-0 pb-4 items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <%- include('../../components/atom/live-auction-2'); %> <%- include('../../components/atom/live-auction-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale-b.png"}); %>
  </div>
  <div
    class="rounded-xl bg-white shadow-[0px_17px_40px_rgba(228,_212,_212,_0.25)] flex flex-col pt-0 px-0 pb-4 items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <%- include('../../components/atom/live-auction-2'); %> <%- include('../../components/atom/live-auction-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale-w.png"}); %>
  </div>
  <div
    class="rounded-xl bg-white shadow-[0px_17px_40px_rgba(228,_212,_212,_0.25)] flex flex-col pt-0 px-0 pb-4 items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <%- include('../../components/atom/live-auction-2'); %> <%- include('../../components/atom/live-auction-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale.png"}); %>
  </div>
</div>