<div class="w-[1046px] flex flex-row items-start justify-around">
  <div
  class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(193,_209,_210,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-[19px] items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-110">
  <%- include('../../components/atom/popular-section-1',
  { imgSrc: "../../assets/images/profile-thumbnail/dale.png", imgSrc1: "../../assets/images/image-thumbnail/Frame1.png", imgSrc2: "../../assets/images/image-thumbnail/Frame2.png", imgSrc3: "../../assets/images/image-thumbnail/Frame3.png"}); %> <%- include('../../components/atom/popular-section-2',
  { crdText: "Creative Art Collection", crdVariant: "primary"}); %>
</div>

<div
    class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(193,_209,_210,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-[19px] items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-110">
    <%- include('../../components/atom/popular-section-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale-w.png", imgSrc1: "../../assets/images/image-thumbnail/Group 8.png", imgSrc2: "../../assets/images/image-thumbnail/bwgalaxy.jpg", imgSrc3: "../../assets/images/image-thumbnail/Frame1.png"}); %> <%- include('../../components/atom/popular-section-2',
    { crdText: "Creative Art Collection", crdVariant: "primary"}); %>
  </div>

  <div
    class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(193,_209,_210,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-[19px] items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-110">
    <%- include('../../components/atom/popular-section-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale-y.png", imgSrc1: "../../assets/images/image-thumbnail/bwgalaxy.jpg", imgSrc2: "../../assets/images/image-thumbnail/Frame1.png", imgSrc3: "../../assets/images/image-thumbnail/Frame 40.png"}); %> <%- include('../../components/atom/popular-section-2',
    { crdText: "Creative Art Collection", crdVariant: "primary"}); %>
  </div>

  <div
    class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(193,_209,_210,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-[19px] items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-110">
    <%- include('../../components/atom/popular-section-1',
    { imgSrc: "../../assets/images/profile-thumbnail/dale-b.png", imgSrc1: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc2: "../../assets/images/image-thumbnail/Frame 40.png", imgSrc3: "../../assets/images/image-thumbnail/Frame 39.png"}); %> <%- include('../../components/atom/popular-section-2',
    { crdText: "Creative Art Collection", crdVariant: "primary"}); %>
  </div>
</div>
