<% title = "Auction" %>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="flex max-w-7xl justify-between align-middle">
          <span class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Live Auctions</span>
      </div>
      <%- include('../../components/toggle-selection'); %>
      <div
          class="mx-auto mt-10 flex flex-wrap justify-around max-w-2xl grid-cols-4 gap-6 sm:grid-cols-4 xl:mx-0 xl:max-w-none xl:grid-cols-4 xl:gap-x-5">
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %>
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %>
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %>
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %> 
          <%- include('../../components/atom/card-2'); %>
          
      </div>
  </div>
</div>
