<% title = "Activity" %>
<section>
  <!-- Temporary Section for now-->
  <div class="bg-gray-900 py-24 sm:py-32 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 animate animate-fade-up">
      <div class="min-w-0 flex-wrap md:px-8 lg:px-0 xl:col-span-6 mt-5 items-center justify-center">
        <div class="max-w-2xl lg:text-center">
          <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl text-left">Activity Logs</p>
          <p class="mt-6 text-lg leading-2 text-gray-300 text-left">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- NFT Items List & Sort Section-->
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8 animate animate-fade-up">
      <div class="mt-8 block lg:hidden">
        <button
          class="flex cursor-pointer items-center gap-2 border-b border-gray-400 pb-1 text-gray-900 transition hover:border-gray-600">
          <span class="text-sm font-medium"> Filters & Sorting </span>
  
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="h-4 w-4 rtl:rotate-180">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
      <div class="hidden space-y-4 lg:block">
        <div>
          <label for="SortBy" class="block text-lg font-bold text-black">
            Sort By
          </label>
        </div>
        <div>
          <div class="flex py-4 md:mx-auto md:max-w-3xl lg:max-w-xl xl:px-0 mx-auto">
            <div class="w-full">
                <label for="search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input id="search" name="search" class="block w-full rounded-md border-0 bg-white py-2 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Search" type="search">
                </div>
            </div>
          </div>
          <div class="bg-white">
            <ul class="space-y-1 p-4">
              <li>
                <label for="FilterInStock" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterInStock" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Listings
                  </span>
                </label>
              </li>

              <li>
                <label for="FilterPreOrder" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterPreOrder" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Purchases
                  </span>
                </label>
              </li>

              <li>
                <label for="FilterOutOfStock" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterOutOfStock" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Sales
                  </span>
                </label>
              </li>
              <li>
                <label for="FilterOutOfStock" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterOutOfStock" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Transfers
                  </span>
                </label>
              </li>
              <li>
                <label for="FilterInStock" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterInStock" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Bids
                  </span>
                </label>
              </li>

              <li>
                <label for="FilterPreOrder" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterPreOrder" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Likes
                  </span>
                </label>
              </li>

              <li>
                <label for="FilterOutOfStock" class="inline-flex items-center gap-4 mt-2">
                  <input type="checkbox" id="FilterOutOfStock" class="h-5 w-5 rounded border-gray-300" />

                  <span class="text-sm font-medium text-gray-700">
                    Following
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="lg:col-span-3">
        <ul class="grid gap-8 sm:grid-cols-2 md:grid-cols-2 md:flex-grow md:gap-x-10 lg:flex-wrap lg:grid-cols-2">
          
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
          <li>
            <a href="#" class="group block overflow-hidden">
              <%- include('../../components/history-card'); %>
            </a>
          </li>
        
        </ul>
        <div class="text-center mt-8 mr-28">
          <%- include('../../components/atom/load-more-button', {btnText: "Load more"}); %>
      </div>
      </div>
    </div>
  </div>
</section>

