<% title = "Home" %>
<!-- HERO -->
<%- include('../../components/molecule/hero'); %>

<!-- BROWSE BY CATEGORY -->
<%- include('../../components/molecule/browse-cat-section'); %>

<!-- LIVE AUCTION -->
<%- include('../../components/molecule/live-auction'); %>

<!-- TOP SELLERS -->
<%- include('../../components/molecule/top-seller'); %>

<!-- TODAY'S PICK -->

<!-- POPULAR SECTION -->
<%- include('../../components/molecule/popular-section'); %>

<!-- Add Remaining Section here-->

<!-- cta-card6 -->
<div class="bg-white mb-20 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 xl:px-8">
    <p class="text-3xl text-center font-bold tracking-tight text-gray-900 sm:text-4xl">
      Primary Features
    </p>
    <p class="mt-3 text-sm text-center tracking-tight text-gray-900">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </p>
    <div
      class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-cols-4 xl:gap-x-8">
      <!--Setup your wallet-->
      <div
        class=" px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="40" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M21.688 8.004C21.626 8 21.558 8 21.488 8H18.715C16.444 8 14.5 9.736 14.5 12C14.5 14.264 16.444 16 18.715 16H21.488C21.558 16 21.626 16 21.688 15.996C22.611 15.94 23.427 15.239 23.496 14.259C23.5 14.195 23.5 14.126 23.5 14.062V9.938C23.5 9.874 23.5 9.805 23.496 9.741C23.427 8.761 22.611 8.061 21.688 8.004ZM18.471 13.067C19.055 13.067 19.529 12.589 19.529 12C19.529 11.41 19.055 10.933 18.471 10.933C17.886 10.933 17.411 11.411 17.411 12C17.411 12.59 17.886 13.067 18.471 13.067Z"
                  fill="white" />
                <path
                  d="M21.64 8.002C21.64 6.821 21.596 5.554 20.842 4.647C20.7683 4.55815 20.6905 4.47272 20.609 4.391C19.86 3.643 18.911 3.311 17.739 3.153C16.599 3 15.144 3 13.306 3H11.194C9.356 3 7.9 3 6.76 3.153C5.588 3.311 4.639 3.643 3.89 4.391C3.142 5.14 2.81 6.089 2.652 7.261C2.5 8.401 2.5 9.856 2.5 11.694V11.806C2.5 13.644 2.5 15.1 2.653 16.239C2.811 17.411 3.143 18.36 3.891 19.109C4.64 19.857 5.589 20.189 6.761 20.347C7.901 20.5 9.356 20.5 11.194 20.5H13.306C15.144 20.5 16.6 20.5 17.739 20.347C18.911 20.189 19.86 19.857 20.609 19.109C20.8082 18.9092 20.9846 18.6878 21.135 18.449C21.585 17.729 21.639 16.847 21.639 15.999L21.489 16H18.715C16.444 16 14.5 14.264 14.5 12C14.5 9.736 16.444 8 18.715 8H21.488C21.54 8 21.592 8 21.64 8.002Z"
                  fill="white" />
                <path
                  d="M6.25 7C6.05109 7 5.86032 7.07902 5.71967 7.21967C5.57902 7.36032 5.5 7.55109 5.5 7.75C5.5 7.94891 5.57902 8.13968 5.71967 8.28033C5.86032 8.42098 6.05109 8.5 6.25 8.5H10.25C10.4489 8.5 10.6397 8.42098 10.7803 8.28033C10.921 8.13968 11 7.94891 11 7.75C11 7.55109 10.921 7.36032 10.7803 7.21967C10.6397 7.07902 10.4489 7 10.25 7H6.25Z"
                  fill="#79279F" />
              </svg>
            </div>
          </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Setup your wallet</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Create your collection-->
      <div class=" px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="40" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_32_1540)">
                <path d="M7.57 10.91C8.10574 10.91 8.61953 11.1228 8.99836 11.5016C9.37718 11.8805 9.59 12.3943 9.59 12.93V17.98C9.59 18.5157 9.37718 19.0295 8.99836 19.4084C8.61953 19.7872 8.10574 20 7.57 20H2.52C1.98426 20 1.47047 19.7872 1.09164 19.4084C0.712821 19.0295 0.5 18.5157 0.5 17.98V12.93C0.5 12.3943 0.712821 11.8805 1.09164 11.5016C1.47047 11.1228 1.98426 10.91 2.52 10.91H7.57ZM18.48 10.91C19.0157 10.91 19.5295 11.1228 19.9084 11.5016C20.2872 11.8805 20.5 12.3943 20.5 12.93V17.98C20.5 18.5157 20.2872 19.0295 19.9084 19.4084C19.5295 19.7872 19.0157 20 18.48 20H13.43C12.8943 20 12.3805 19.7872 12.0016 19.4084C11.6228 19.0295 11.41 18.5157 11.41 17.98V12.93C11.41 12.3943 11.6228 11.8805 12.0016 11.5016C12.3805 11.1228 12.8943 10.91 13.43 10.91H18.48ZM7.57 0C8.10574 0 8.61953 0.212821 8.99836 0.591644C9.37718 0.970468 9.59 1.48426 9.59 2.02V7.07C9.59 7.60574 9.37718 8.11953 8.99836 8.49836C8.61953 8.87718 8.10574 9.09 7.57 9.09H2.52C1.98426 9.09 1.47047 8.87718 1.09164 8.49836C0.712821 8.11953 0.5 7.60574 0.5 7.07V2.02C0.5 1.48426 0.712821 0.970468 1.09164 0.591644C1.47047 0.212821 1.98426 0 2.52 0L7.57 0ZM18.48 0C19.0157 0 19.5295 0.212821 19.9084 0.591644C20.2872 0.970468 20.5 1.48426 20.5 2.02V7.07C20.5 7.60574 20.2872 8.11953 19.9084 8.49836C19.5295 8.87718 19.0157 9.09 18.48 9.09H13.43C12.8943 9.09 12.3805 8.87718 12.0016 8.49836C11.6228 8.11953 11.41 7.60574 11.41 7.07V2.02C11.41 1.48426 11.6228 0.970468 12.0016 0.591644C12.3805 0.212821 12.8943 0 13.43 0L18.48 0Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_32_1540">
                <rect width="20" height="20" fill="white" transform="translate(0.5)"/>
                </clipPath>
                </defs>
              </svg>                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Create your collection</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Add your NFTs-->
      <div class=" px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="40" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_32_1543)">
                <path opacity="0.7" d="M6.50195 5.5C6.50195 5.89782 6.34392 6.27936 6.06261 6.56066C5.78131 6.84196 5.39978 7 5.00195 7C4.60413 7 4.2226 6.84196 3.94129 6.56066C3.65999 6.27936 3.50195 5.89782 3.50195 5.5C3.50195 5.10218 3.65999 4.72064 3.94129 4.43934C4.2226 4.15804 4.60413 4 5.00195 4C5.39978 4 5.78131 4.15804 6.06261 4.43934C6.34392 4.72064 6.50195 5.10218 6.50195 5.5Z" fill="white"/>
                <path d="M2 2C1.60218 2 1.22064 2.15804 0.93934 2.43934C0.658035 2.72064 0.5 3.10218 0.5 3.5L0.5 12.5C0.5 12.8978 0.658035 13.2794 0.93934 13.5607C1.22064 13.842 1.60218 14 2 14H15C15.3978 14 15.7794 13.842 16.0607 13.5607C16.342 13.2794 16.5 12.8978 16.5 12.5V3.5C16.5 3.10218 16.342 2.72064 16.0607 2.43934C15.7794 2.15804 15.3978 2 15 2H2ZM15 3C15.1326 3 15.2598 3.05268 15.3536 3.14645C15.4473 3.24021 15.5 3.36739 15.5 3.5V9.5L11.725 7.553C11.6312 7.50602 11.525 7.48973 11.4215 7.50642C11.3179 7.52311 11.2223 7.57194 11.148 7.646L7.438 11.356L4.778 9.584C4.68196 9.52006 4.56676 9.4913 4.45194 9.5026C4.33712 9.5139 4.22973 9.56456 4.148 9.646L1.502 12V12.54C1.5008 12.5267 1.50014 12.5134 1.5 12.5V3.5C1.5 3.36739 1.55268 3.24021 1.64645 3.14645C1.74021 3.05268 1.86739 3 2 3H15Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_32_1543">
                <rect width="16" height="16" fill="white" transform="translate(0.5)"/>
                </clipPath>
                </defs>
              </svg>                
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Add your NFTs</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--List them for sale-->
      <div class=" px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="40" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9.24817V13.409C18 15.989 18 17.2798 17.3883 17.8432C17.0967 18.1123 16.7283 18.2815 16.3358 18.3265C15.5133 18.4207 14.5525 17.5707 12.6317 15.8715C11.7817 15.1207 11.3575 14.7448 10.8667 14.6465C10.6247 14.5977 10.3753 14.5977 10.1333 14.6465C9.64167 14.7448 9.2175 15.1207 8.36833 15.8715C6.4475 17.5707 5.48667 18.4207 4.66417 18.3257C4.27103 18.2806 3.90243 18.1116 3.61167 17.8432C3 17.2798 3 15.9898 3 13.409V9.24734C3 5.67484 3 3.88734 4.09833 2.77734C5.19667 1.6665 6.965 1.6665 10.5 1.6665C14.0358 1.6665 15.8033 1.6665 16.9017 2.7765C18 3.88734 18 5.67484 18 9.24817ZM7.375 4.99984C7.375 4.83408 7.44085 4.67511 7.55806 4.5579C7.67527 4.44069 7.83424 4.37484 8 4.37484H13C13.1658 4.37484 13.3247 4.44069 13.4419 4.5579C13.5592 4.67511 13.625 4.83408 13.625 4.99984C13.625 5.1656 13.5592 5.32457 13.4419 5.44178C13.3247 5.55899 13.1658 5.62484 13 5.62484H8C7.83424 5.62484 7.67527 5.55899 7.55806 5.44178C7.44085 5.32457 7.375 5.1656 7.375 4.99984Z" fill="white"/>
              </svg>                
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">List them for sale</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
    </div>
  </div>
</div>