<div class="w-[1046px] flex flex-row flex-wrap items-start justify-between">
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale.png", imgSrc1: "../../assets/images/image-thumbnail/Frame3.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame1.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale-b.png", imgSrc1: "../../assets/images/image-thumbnail/Frame2.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame3.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale-w.png", imgSrc1: "../../assets/images/image-thumbnail/Frame1.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame3.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>        
</div>
<div class="w-[1046px] flex flex-row flex-wrap items-start justify-between mt-10">
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale-y.png", imgSrc1: "../../assets/images/image-thumbnail/Frame2.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame3.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale.png", imgSrc1: "../../assets/images/image-thumbnail/Frame1.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame3.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>
    <%- include('../../components/atom/authors-2',
        { crdText: "Dale", imgSrc: "../../assets/images/profile-thumbnail/dale-b.png", imgSrc1: "../../assets/images/image-thumbnail/Frame3.png", imgSrc2: "../../assets/images/image-thumbnail/card2-image-thumbnail.png", imgSrc3: "../../assets/images/image-thumbnail/Frame1.png", imgSrc4: "../../assets/images/image-thumbnail/Frame2.png"}); %>        
</div>