<div class="relative w-[1046px] h-[129px] text-xs text-black font-body-reg-text">
    <div class="absolute top-[0px] left-[19.9px] w-[1006.19px] flex flex-row items-start justify-between">
        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale.png"}); %>
        </a>
        
        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-b.png"}); %>
        </a>
        
        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-w.png"}); %>
        </a>

        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-y.png"}); %>
        </a>

        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale.png"}); %>
        </a>

        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-b.png"}); %>
        </a>

        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-w.png"}); %>
        </a>

        <a href="/profile-info">
        <%- include('../../components/atom/authors-1',
        { crdText: "Dale", crdText2: "231.1 ETH", imgSrc: "../../assets/images/profile-thumbnail/dale-y.png"}); %>
        </a>
    </div>
</div>